@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scrollbar-width: thin;
  scrollbar-color: #a9a9a9;
}

.hero-slide {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: calc(100vh - 152px);
  background-image: url('/group-2.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.footer {
  width: 100%;
  background-image: url('/group-2.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}
