@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scrollbar-width: thin;
  scrollbar-color: #a9a9a9;
}

.hero-slide {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 584px;
  background-image: url('/Group\ 2.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.footer {
  width: 100%;
  background-image: url('/Group\ 2.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@media (max-width: 768px) {
  .hero-slide {
    height: 300px;
  }
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}
